#countries{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px;
}
.country{
    border:1px solid hsla(0, 77%, 22%, 0.377);
    border-radius:20px;
    padding:20px;
    text-align:center;
    width: 400px;

    background-color:rgba(226, 222, 235, 0.13);
    box-shadow: 5px 5px 10px 5px gray;
}
.country-name{
    font-size:40px;
    color:blueviolet;
}
.country-capital{
    font-size:25px;
    color:darkslategray;
}
.country-region{
    font-size:20px;
    color:black;
}

.Details{
    padding: 5px;
    border-radius: 20px;
    background-color:rgba(221, 155, 48, 0.205);
    font-weight:bold;
    color:blueviolet;
    
}
#countryDetails{
    border-radius: 20px;
    font-size: 25px;
    margin: 5px;
    padding: 5px;
    color:rgba(197, 25, 25, 0.685);
    text-align:center;
   
}
#countryDetails img{
    margin-bottom: 25px;
    width: 400px;   
    box-shadow: 5px 5px 8px 5px rgba(39, 24, 2, 0.411); 
}